.profile__subtitle {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 500px;
}

@media screen and (max-width: 820px) {
  .profile__subtitle {
    max-width: 400px;
  }
}

@media screen and (max-width: 690px) {
  .profile__subtitle {
    max-width: 320px;
  }
}

@media screen and (max-width: 650px) {
  .profile__subtitle {
    max-width: 260px;
  }
}

@media screen and (max-width: 580px) {
  .profile__subtitle {
    margin: 0 auto;
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
  }
}