.profile__button-plus {
  padding: 23px 73px 23px 73px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  background: transparent url('../../../images/plusiconWhite.svg') center center no-repeat;
  cursor: pointer;
}

.profile__button-plus:hover{
  opacity: .6;
}

@media screen and (max-width: 936px) {
  .profile__button-plus {
    padding: 16px 36px 16px 36px;
  }
}

@media screen and (max-width: 580px) {
  .profile__button-plus {
    padding: 23px 0 23px 0;
    width: 100%;
    max-width: 282px;
    background: transparent url('../../../images/plusiconWhite1616.svg') center center no-repeat;
  }
}