.popup-close-button {
  margin: 0;
  padding: 0;
  border: none;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  background: transparent url('../../images/CloseIconWhite.svg') no-repeat;
}

.popup-close-button:hover {
  opacity: .6;
}

@media screen and (max-width: 570px) {
  .popup-close-button {
    width: 20px;
    height: 20px;
    background-size: contain;
    top: -36px;
    right: 0;
  }
}